Using this file for deployment

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
DATAPATH = "D:\SURAJ\programming\Data Science\pjkt\Loan prediction\my_notebooks"
TRAIN_FILE = "train_ctrUa4K.csv"
TEST_FILE = "test_lAUu6dG.csv"
TARGET = 'Loan_Status'
COLUMNS = ['Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area']

NUMERICAL_FEATURES = ['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount']
CATEGORICAL_FEATURES = ['Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Loan_Amount_Term', 'Credit_History', 'Property_Area']

In [3]:
data = pd.read_csv('train_ctrUa4K.csv')
data_copy = data.copy()
data_copy.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [4]:
data_copy['Property_Area'].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [5]:
data_copy.replace(('Male', 'Female'), (1,0), inplace = True)
data_copy.replace(('Rural', 'Semiurban', 'Urban'), (1, 2,3), inplace = True)
data_copy.replace(('Yes', 'No'), (1, 0), inplace = True)
data_copy.replace(('Y', 'N'), (1,0), inplace = True)
data_copy.replace(('Graduate', 'Not Graduate'), (1,0), inplace = True)
data_copy.replace(('Male', 'Female'), (1,0), inplace = True)
data_copy['Dependents'] = np.where((data_copy.Dependents == '3+'), int('4'), data_copy['Dependents'])
data_copy.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1.0,0.0,0,1,0.0,5849,0.0,NaN,360.0,1.0,3,1
1,LP001003,1.0,1.0,1,1,0.0,4583,1508.0,128.0,360.0,1.0,1,0
2,LP001005,1.0,1.0,0,1,1.0,3000,0.0,66.0,360.0,1.0,3,1
3,LP001006,1.0,1.0,0,0,0.0,2583,2358.0,120.0,360.0,1.0,3,1
4,LP001008,1.0,0.0,0,1,0.0,6000,0.0,141.0,360.0,1.0,3,1

In [6]:
data_copy['Property_Area'].unique()

array([3, 1, 2], dtype=int64)

In [7]:
data_copy['Gender'] = data_copy['Gender'].fillna(data_copy['Gender'].mode()[0])
data_copy['Married'] = data_copy['Married'].fillna(data_copy['Married'].mode()[0])
data_copy['Dependents'] = data_copy['Dependents'].fillna(data_copy['Dependents'].mode()[0])
data_copy['Self_Employed'] = data_copy['Self_Employed'].fillna(data_copy['Self_Employed'].mode()[0])
data_copy['ApplicantIncome'] = data_copy['ApplicantIncome'].fillna(data_copy['ApplicantIncome'].mean())
data_copy['CoapplicantIncome'] = data_copy['CoapplicantIncome'].fillna(data_copy['CoapplicantIncome'].mean())
data_copy['LoanAmount'] = data_copy['LoanAmount'].fillna(data_copy['LoanAmount'].mean())
data_copy['Loan_Amount_Term'] = data_copy['Loan_Amount_Term'].fillna(data_copy['Loan_Amount_Term'].mode()[0])
data_copy['Credit_History'] = data_copy['Credit_History'].fillna(data_copy['Credit_History'].mode()[0])
data_copy['Property_Area'] = data_copy['Property_Area'].fillna(data_copy['Property_Area'].mode()[0])
data_copy['Loan_Status'] = data_copy['Loan_Status'].fillna(data_copy['Loan_Status'].mode()[0])
# data_copy

In [16]:
data_copy['Dependents'] = data_copy['Dependents'].astype(int)

In [17]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             614 non-null    float64
 2   Married            614 non-null    float64
 3   Dependents         614 non-null    int32
 4   Education          614 non-null    int64
 5   Self_Employed      614 non-null    float64
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         614 non-null    float64
 9   Loan_Amount_Term   614 non-null    float64
 10  Credit_History     614 non-null    float64
 11  Property_Area      614 non-null    int64
 12  Loan_Status        614 non-null    int64
dtypes: float64(7), int32(1), int64(4), object(1)
memory usage: 60.1+ KB

In [18]:
data_copy.to_csv('train_cleaned.csv')

In [8]:
# data_copy.columns

In [9]:
X = data_copy[['Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area']]
y = data_copy['Loan_Status']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 10)
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

c:\users\suraj jadhav\appdata\local\programs\python\python38\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [10]:
# logreg.predict_proba(X_test)[:,1]

In [11]:
# logreg.predict(X_test)

In [12]:
logreg_accuracy = logreg.score(X_test, y_test)
# print("Logistic Regression accuracy is ", logreg_accuracy ) #Logistic Regression accuracy is  0.7967479674796748